body {
    text-align: center;
    margin: 0px;
    font-family: "Lato";
    overflow: hidden;
}

svg {
    display: none;
}

img {
    position: absolute;
    width: 200;
} 


/* canvas {
    background-color: red;
} */